$base-font-family: "freight-text-pro", sans-serif;
$base-heading-font-family: "bello-pro", sans-serif;
$base-small-font-family: "freight-micro-pro", $base-font-family;

$base-font-color: #000;
$base-heading-color: #FF6B6B;
$muted-color: #505050;

$base-font-size: 13px;
$base-line-height: $base-font-size * 1.5;

$heading-size-1:  $base-font-size*1.8;
$heading-size-2:  $base-font-size*1.5;
$heading-size-3:  $base-font-size*1.3;
$heading-size-4:  $base-font-size*1.2;
$heading-size-5:  $base-font-size;
$heading-size-6:  $base-font-size*0.8;
