// Mixins

@mixin h1 {
  font-family: $base-heading-font-family;
  color: $base-heading-color;
  @include adjust-font-size-to($heading-size-1);
  @include rhythm(1, 0, 0, 1, $heading-size-1);
}

@mixin h2 {
  font-family: $base-heading-font-family;
  color: $base-heading-color;
  @include adjust-font-size-to($heading-size-2);
  @include rhythm(1, 0, 0, 1, $heading-size-2);
}

@mixin small {
  @include adjust-font-size-to($heading-size-6);
  font-family: $base-small-font-family;
}
