<!DOCTYPE html>
<html>
<head>
  <title>Journal Entries</title>
  <link rel="stylesheet" href="style.css" type="text/css">
  <meta charset="UTF-8" />
  <link href="stylesheets/style.css" media="screen, projection, print" rel="stylesheet" type="text/css" />
  <script src="//use.typekit.net/ynf1wcf.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <h1 class="page-title">Journal Entries</h1>
  {% for entry in journal %}
  <article class="entry">

    {% if 'Photo' in entry %}
    <img class="entry-photo" src="Journal.dayone/{{ entry['Photo']  }}"/>
    {% endif %}

    <div class="entry-text">
      {{ entry['Text'] | markdown }}
    </div>

    <p class="muted">
      {{ entry['Date'] | format('%A, %d %B %Y') }} &agrave; {{ entry['Date'] | format('%H:%M') }}
      {% if entry.place() %}
      <br>
      {{ entry.place() }},
      {% endif %}
    </p>

  </article>
  {% endfor %}
</body>
</html>
