<!DOCTYPE html>
<html>
<head>
  <title>Journal Entries</title>
  <meta charset="UTF-8" />
  <link href="stylesheets/style.css" media="screen, projection, print" rel="stylesheet" type="text/css" />
  <script src="//use.typekit.net/ynf1wcf.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  {% for entry in journal %}
  <article class="entry grid">
    <div class="grid__item grid__item--1">
      {% if 'Photo' in entry %}
      <figure>
        <img class="entry-photo" src="Journal.dayone/{{ entry['Photo']  }}"/>
      </figure>
      {% endif %}
    </div>

    <div class="entry__text grid__item grid__item--2">

      {{ entry['Text'] | markdown }}

      <p class="muted small">
        <img data-src="http://www.alienlebarge.ch/assets/iconic/1.7.0/svg/smart/calendar.svg" class="iconic iconic-sm" alt="calendar"> {{ entry['Date'] | format('%A, %d %B %Y') }} &agrave; {{ entry['Date'] | format('%H:%M') }}
        {% if entry.place() %}
        <br>
        <img data-src="http://www.alienlebarge.ch/assets/iconic/1.7.0/svg/smart/map.svg" class="iconic iconic-sm" alt="map"> {{ entry.place() }},
        {% endif %}
        {% if entry.weather('C') %}
        <br>
        <img data-src="http://www.alienlebarge.ch/assets/iconic/1.7.0/svg/smart/cloudy.svg" class="iconic iconic-sm" alt="cloudy"> {{ entry.weather('C') }}
        {% endif %}
      </p>

    </div>

  </article>
  {% endfor %}
  <script src="http://www.alienlebarge.ch/assets/iconic/1.7.0/js/iconic.min.js"></script>
  <script src="http://twemoji.maxcdn.com/twemoji.min.js"></script>
  <script>
    twemoji.parse(document.getElementsByTagName('body')[0], {size: 72});
  </script>
</body>
</html>
